{% if latest_animal_list %}
    <ul>
    {% for animal in latest_animal_list %}
        <li><a href="{% url animal.views.detalhes animal.id %}">{{ animal }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Sem animais disponíveis.</p>
{% endif %}

<a href="adicionar">Adicionar animal</a>