<script src="/media/js/date_picker.js" type="text/javascript"></script>
<script src="/media/js/association.js" type="text/javascript"></script>
<form action='{{association.id}}' method="Post" name = "form">{% csrf_token %}

<div id = "association_reply">
	<div class="row-fluid">
		<div class="span12">
	 		{{form.member_number.label}}
	 		{{form.member_number}}
	  </div>
	</div>
	<div class="row-fluid">
		<div class="span12">
	 		{{form.date_entry.label}}
	 		{{form.date_entry}}
	  </div>
	</div>
	
	{% for hidden_field in form.hidden_fields %}
		{{hidden_field}}
	{% endfor %}
	
</div>

<input type="submit" name='new_membership' value="Adicionar {{breeder.name}}" id ="new_membership"/>
</form>

<script>
var members_numbers = "{{members_numbers}}" ;
</script>