{% extends "base.html" %}
{% block title %}Lista de associações{% endblock %}

{% block body %}
<div class="container-fluid">
<form action='{{request.path}}' method="Post" name = "form">{% csrf_token %}
	<div class="row-fluid">
		<div class = "span12" style = "text-align: center;">
			{{application_form.breeder.errors}}
			{{breeder.name}}
		</div>		
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class="row-fluid">
		<div class = "span12">
			Escolha a associação onde quer registar as suas explorações:
			{{application_form.association.errors}}
			{{application_form.association}}
		</div>
	</div>

	<hr style = "border-width: 1px; border-color: #900;">

	<div class="row-fluid">
		<div class = "span8 offset4">
			{{application_form.farms.errors}}
			{{application_form.farms}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">

<input type="submit" name='submit' value="Enviar pedido" id ="submit"/>
</form>
</div>
{% endblock %}