{% extends "base.html" %}
{% block title %}Lista de associações{% endblock %}

{% block extrajs %} 
	<script src="/media/js/association.js"></script>
{% endblock %}


{% block body %}

{% for application in not_members %}
<div class="container-fluid">
Pedidos de novos membros:
<div class = "row-fluid">
	<div class = "span4">
		<div class="row-fluid">
			<div class = "span12">
				{{application.breeder.name}}
			</div>
		</div>
		{% for contact in application.breeder.contact.all %}
		<div class="row-fluid">
			<div class = "span12">
				{{contact}}
			</div>
		</div>
		{% endfor %}
		
		{% for farm in application.farms.all %}
			<div class="row-fluid">
				Lista das explorações:
				<div class = "span12">
					Exploração: 
					{{farm.name}}
				</div>
			</div>
			<div class="row-fluid">
				<div class = "span12">
					Marca de exploração: 
					{{farm.trademark}}
				</div>
			</div>
		{% endfor %}
	</div>

<div class = "span1 ofsset3">
	<div class = "btn" href="javascript:void(0);" onclick="get_new_membership_form(this, '{{association.id}}','{{application.breeder.id}}')" style = "border: 1px solid #900">
	Criar ficha de inscrição</div>
</div>

<div class = "span8 ofsset4">
	<div id = "new_membership-{{application.breeder.id}}" style = "display: none;">
	</div>
	<div id = "new_responce"></div>
</div>


</div>
<hr style = "border-width: 1px; border-color: #900;">
</div>
{% endfor %}

<hr style = "border-width: 1px; border-color: #900;">

<div class="container-fluid">
	<form action='{{request.path}}' method="Post" name = "form">{% csrf_token %}
		{% for application in members %}
			{{application.form.as_p}}
		{% endfor %}
	<input type="submit" name='add_farms' value="Adicionar" id ="add_farms"/>
	</form>
</div>

{% endblock %}