<title>Adicionar identificação</title>

<form action="/identificacao/adicionar/" method="post">{% csrf_token %}

{{ adicionaform.as_ul }}

<br /><input type="submit" value="Adicionar" />
</form>
<a href="../">Voltar</a>