{% extends "base.html" %}
{% block title %}Identificadores{% endblock %}

{%block body%}
{% load i18n %}
<div class = "content-fluid">
	<div class = "row-fluid">
		<div class = "span12" style= "text-align: center;">
			<h3>{% trans 'Identifiers list'%}</h3>
		</div>
	</div>
	<div class ="row-fluid">
		<div class = "span2 offset1">
			<h4>{% trans 'Number'%}</h4>
		</div>
		<div class = "span2">
			<h4>{% trans 'Type'%}</h4>
		</div>
		<div class = "span1">
			<h4>{% trans 'Active'%}</h4>
		</div>
		<div class = "span4">
			<h4>{% trans 'Inactivation date' %}</h4>
		</div>
	</div>
</div>
<div class = "row-fluid">
	<div class ="span10 offset1">
		<hr style = "border-width: 1px; border-color: #900; margin: 0px">
	</div>
</div>	

{%for indentifier in id_reserved_list %}
	<div class = "row-fluid">
		<div class = "span2 offset1">
			{{indentifier.number}}
		</div>
		<div class = "span2">
			{{indentifier.id_type}}
		</div>
		<div class = "span1">
			{% if indentifier.current_state.active %}
				<i class="icon-ok"></i>
			</div>
			{% else %}
				<i class="icon-remove"></i>
			</div>
			<div class = "span4">
				{{indentifier.current_state.inactivation_date}}
			</div>
			{% endif %}
	</div>
{% endfor %}

{% endblock%}