{% load i18n %}
<div class="well">
	<div class = "row-fluid">
		<div class = "span12">
			<table class="table table-bordered table-condensed">
		        <legend style = "text-align: center;">{% trans 'Identifiers' %}</legend>
		        <thead>
		            <tr>
		            	<th style = "text-align: center;">
		            		<a href="#" onclick="show_available_details()" rel="tooltip" 
		            				title="{% trans 'Details'%}">{% trans 'Available' %}</a>
		            	</th>
		            	<th style = "text-align: center;">
		            		<a href="#" onclick="show_unavailable_details()" rel="tooltip" 
		            				title="{% trans 'Details'%}">{% trans 'Unavailable' %}</a>
		            	</th>
		            </tr>
		        </thead>
		        {%comment%}
		        <tfoot>
				    <tr>
				      <td style = "text-align: center;">
				     <button class="btn btn-small btn-primary" id = "select_all" 
				     			status = "1" type="button" onclick="toggleChecked()">
			       		{% trans 'Select all' %}
			       	</button>	
				      </td>
				   	<td></td> 	
				    </tr>
				</tfoot> 
				{%endcomment%}   
		        <tbody>
		           <tr>
			           <td style = "text-align: center;">
							{{number_available}}
							<div class = "check-all">
					   			<input type="checkbox" onclick="toggleChecked(this.checked)">
								{% trans 'Select/Deselect All' %}
							</div>	
			           </td>
			           <td style = "text-align: center;">
			           		{{number_unavailable|length}}
			           	</td>
			       </tr>
		        </tbody>
		    </table>

		</div>
	</div>
</div>

<form action= "/identification/make_reserve/{{entitie.pk}}/" method="Post" id = "reserve_form">{% csrf_token %}
			<div class = "row-fluid">
				<div class = "span12">
					<p><input type="submit" name='submit' value="{% trans 'Add' %}" ></p>
				</div>
			</div>

<div id = "available_details" style = "display: none;">
	<div class = "row-fluid">
		<div class = "span12">
			{% trans 'Available numbers' %}
		</div>
		<div class = "row-fluid">
			<div class ="span12">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">
			</div>
		</div>	
			{% if identifiers_form %}
				<div class = "row-fluid">
					<div class = "span12">
						{% for field in identifiers_form %}
							{{field}}
						{% endfor%}
					</div>
				</div>
			{% endif %}
	</div>
</div>
</form>


<div class = "space10" style = "padding-top: 15px;"></div>

<div id = "unavailable_details" style = "display: none;">
	<div class = "row-fluid">
		<div class = "span3">
			{% trans 'Unavailable numbers' %}
		</div>
		<div class = "span4">
			{% trans 'Current owner' %}
		</div>
		<div class = "span1">
			{% trans 'Active' %}
		</div>
		<div class = "span4">
			{% trans 'Inactivation date' %}
		</div>
		<div class = "row-fluid">
			<div class ="span12">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">
			</div>
		</div>	
		{% for number in number_unavailable %}
			<div class = "row-fluid">
				<div class = "span3">
					{{number.number}}
				</div>
				{% if number.current_state %}
					<div class = "span4">
						{{number.current_state.current_breeder}}						
					</div>
					<div class = "span1">
						{% if number.current_state.active %}
							<i class="icon-ok"></i>
							</div>
						{% else %}
							<i class="icon-remove"></i>
							</div>
							<div class = "span4">
								{{number.current_state.inactivation_date}}
							</div>
						{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>