{% if latest_identificacao_list %}
    <ul>
    {% for identificacao in latest_identificacao_list %}
        <li><a href="{% url identificacao.views.listar identificacao.id %}">{{ identificacao }}</a></li>
    {% endfor %}
    </ul>	
{% else %}
    <p>Sem identificação disponíveis.</p>
{% endif %}

<a href="adicionar">Adicionar identificacao</a>