{% extends "base.html" %}
{% block title %}Reservar Identificadores{% endblock%}
{% block extrajs %}
	<script src="/media/js/identifiers.js" type="text/javascript"></script>
{% endblock %}

{%block body%}
{% load i18n %}
<div class="container-fluid" >
	{% include "utils/messages.html" %}
	<div class = "row-fluid">
		<form action='' method="Post" id="identifier_form" accept-charset="utf-8">{% csrf_token %}
			<div class = "span4 offset1">
				<div class = "row-fluid">
					<div class = "span12">
						<div class = "identifier_form">
							{{form.as_p}}
						</div>
					</div>
				</div>
				<div class = "row-fluid">
					<div class = "span12">
						<p><input type="button" value="{% trans 'Verify' %}" 
							onclick="search_form({{farm.breeder.pk}});"></p>
					</div>
				</div>
			</div>
		</form>
			<div class = "span6" id = "identifiers_list">
				<!-- Result list -->
			</div>
	</div>
</div>

{% endblock %}