{% comment %}
<script>   	
	$(function() {
   	    // setTimeout() function will be fired after page is loaded
   	    // it will wait for  x sec. and then will fire
   	    setTimeout(function() {
   	    	$(document.getElementsByName("alert")).hide('blind',{}, 1000)
   	    }, 20000);
   	});
</script>
{% endcomment %}

{% if messages %}
	{% for message in messages %}
		{% if message.tags == "success" %}
			<div class="alert alert-success" id = "{{ message.tags }}" 
				name = "alert" style ="text-align: center">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  <strong>Success!</strong> {{ message}}
			</div>
		{% endif %}
		{% if message.tags == "error" %}
			<div class="alert alert-error" id = "{{ message.tags }}" 
				name = "alert" style ="text-align: center">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  <strong>Error!</strong> {{ message}}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}