{% load i18n %}{% blocktrans %}{{ notice }}{% endblocktrans %}

<table>
<thead>
</thead>
<tbody>
{{op_message}}

{%for notice in notices%}
	<tr>
	{%if notice.is_unseen%}
		<td>
			<font color = "#FFFFFF">{{ notice.message|safe }}</font>
		</td>
			<font color = "#FFFFFF">{{ notice.added|timesince }} atrás.</font>
	</tr>
	{% endif %}
{% endfor %}
</tbody>
</table>



{%comment%}
<table>
    <caption> Notices </caption> 
    <thead>
        <tr>
            <th> Type </th>
            <th> "Message" </th>
            <th> "Date of the Notice" </th>
        </tr>
    </thead>
    <tbody>
        {% for notice in notices %}
            {% if notice.is_unseen %}
                <tr class="unseen_notice">
            {% else %}
                <tr class="notice">
            {% endif %}
                <td class="notice_message">{{ notice.message|safe }} {{notice.from_user}}</td>
                <td class="notice_time">{{ notice.added|timesince }} "ago"</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endcomment%}