{% load dajaxice_templatetags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	{% include "head.html" %}

	{% dajaxice_js_import %}
	<script src="/static/dajax/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>

	{% block extrastyle %}{% endblock %}
	{% block extrajs %} {% endblock%}

	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<!--<div id = "page-header">-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{% url index %}" style="margin-left: -150px;">Portal Animal</a>

				<ul class="nav pull-right">
					{% for app in app_list %}
						{% if app.url %}
				    		<li class="dropdown">
				    			<a href="#{{app.name}}" class="dropdown-toggle" data-toggle="dropdown">{{app.name}}
				    			<b class="caret"></b></a>
					    			<ul class="dropdown-menu">
						    			{% for url in app.url%}
						    				<li><a href="{{url}}">{{url}}</a></li>
						    			{%endfor%}
					    			</ul>
				    			</li>
		    			{% else %}
		    				<li><a href="#{{app.name}}" data-toggle="tab">{{app.name}}</a></li>
	    				{% endif %}
		    			<li class="divider-vertical"></li>
			    	{% endfor %}
				</ul>
			</div>

			</div>

		</div>
	</div>

	<div class="slide-out-div">
		<a class="handle" href="#"></a>
			<h2>Menu</h2>
			<!--<li class="nav-header">Menu</li>-->
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="{% url index %}"><i class="icon-white icon-home"></i> Entrada</a></li>
				<li class="divider"></li>
			</ul>
			<div class="scroll-pane">
					<!--<ul class="dropdown" role="menu" aria-labelledby="dropdownMenu">-->
					<ul class="nav nav-pills nav-stacked">
					        <li><a href="#"><i class="icon-book"></i> Animais</a></li>
					        <li><a href="#"><i class="icon-pencil"></i> Explorações</a></li>
					        <li><a href="#"><i class="icon-pencil"></i> Grupos</a></li>
					        <li><a href="#"><i class="icon-user"></i> Identificações</a></li>
					        <li><a href="#"><i class="icon-cog"></i> Movimentos</a></li>
					        <li><a href="#"><i class="icon-user"></i> Ocorrências</a></li>
					        <li><a href="#"><i class="icon-cog"></i> RED</a></li>
					        <li><a href="#"><i class="icon-user"></i> Ordenhas</a></li>
					        <li><a href="#"><i class="icon-cog"></i> Performance</a></li>
					        <li><a href="#"><i class="icon-cog"></i> Partos</a></li>
					        <li><a href="#"><i class="icon-user"></i> Reprodução</a></li>
					        <li><a href="#"><i class="icon-user"></i> Sanidade</a></li>
					        <li><a href="#"><i class="icon-cog"></i> Genética</a></li>
					        <!--
					        <li class="divider"></li>
					        <li><a href="#"><i class="icon-flag"></i> Help</a></li>
					        {% for app in app_list %}
				    			<li class="dropdown-submenu"><a href="#{{app.name}}" data-toggle="tab">{{app.name}}</a></li>
				    			<ul class="dropdown-menu">
						            {% for url in app.url%}
						            	<li><a href="#">{{url}}</a></li>
							    	{%endfor%}
					            </ul>
			    			{% endfor %}
			    			-->
					</ul>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<li class="divider"></li>
				<li><a href="#">Mensagens</a></li>
				<li><a href="#">Preferências</a></li>
				<li><a href="{% url logout %}">Logout</a></li>
			</ul>
	</div>​

	{% include "utils/messages.html" %}

	<div class="container-fluid">
	    {%block body%}{%endblock%}
    </div>

</body>

</html>
