
<link type="text/css" rel="stylesheet" href="http://www.erichynds.com/examples/style.css" />
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="/media/css/ui.notify.css" />
<style type="text/css">form input { display:block; width:250px; margin-bottom:5px }</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js" type="text/javascript"></script>
<script src="/media/js/jquery.notify.js" type="text/javascript"></script>

<script type="text/javascript">
function create( template, vars, opts ){
	return $container.notify("create", template, vars, opts);
}
$(function(){
	$container = $("#container").notify();
	create("sticky", { title:'Aviso'},{ expires:false });

})
</script>

{%if notices%}
<div id="container" style="display:none">
	<div id="sticky">
			<a class="ui-notify-close ui-notify-cross" href="#">x</a>
			<h1>#{title}</h1>
			{% include "notification/aviso/notice.html" %}
			{% include "notification/close_lactation/notice.html" %}
	</div>
</div>
{%endif%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div>
Registo efectuado.
</div>
