    <!-- scripts  -->
    <script src= "/media/js/jquery-1.8.2.js" type="text/javascript"></script>
    <script src= "/media/js/jquery-ui-1.9.1/js/jquery-ui-1.9.1.custom.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href= "/media/js/jquery-ui-1.9.1/css/smoothness/jquery-ui-1.9.1.custom.min.css" media="all">

    <!-- bootstrap stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css" />
    <script src="/media/bootstrap/js/bootstrap.js"></script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />

    <!-- BEGIN of slide menu stuff -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script src="/media/slidemenu/js/jquery.tabSlideOut.v1.3.js"></script>

         <script>
         $(function(){
             $('.slide-out-div').tabSlideOut({
                 tabHandle: '.handle',                              //class of the element that will be your tab
                 pathToTabImage: '/media/slidemenu/img/menu.png',          //path to the image for the tab (optionaly can be set using css)
                 imageHeight: '21px',                               //height of tab image
                 imageWidth: '30px',                               //width of tab image
                 tabLocation: 'left',                               //side of screen where tab lives, top, right, bottom, or left
                 speed: 300,                                        //speed of animation
                 action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
                 topPos: '5px',                                   //position from the top
                 leftPos: '0px',
                 onLoadSlideOut: false,
                 fixedPosition: true                               //options: true makes it stick(fixed position) on scroll
             });
         });
         </script>

    <!-- styles needed by jScrollPane - include in your own sites -->
    <link type="text/css" href="/media/slidemenu/jscrollpane/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
    <!-- latest jQuery direct from google's CDN --
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
    <!-- the mousewheel plugin -->
    <script type="text/javascript" src="/media/slidemenu/jscrollpane/js/jquery.mousewheel.js"></script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="/media/slidemenu/jscrollpane/js/jquery.jscrollpane.min.js"></script>

    <script type="text/javascript" id="sourcecode">
    $(function(){
        $('.scroll-pane').jScrollPane({
            horizontalGutter:5,
            verticalGutter:5,
            'showArrows': false
        });
        $('.jspDrag').hide();
        $('.jspScrollable').mouseenter(function(){
            $(this).find('.jspDrag').stop(true, true).fadeIn('fast');
        });
        $('.jspScrollable').mouseleave(function(){
            $(this).find('.jspDrag').stop(true, true).fadeOut('slow');
        });
    });
    </script>
    <!-- END of slide menu stuff -->

    <!-- dropdown menu bar bootstrap - NÃO ESTÁ A FUNCIONAR -->
    <script>
    $('.dropdown-toggle').dropdown()
    </script>

    <!-- made scripts -->
    <script src="/media/js/date_picker.js" type="text/javascript"></script>
