{% extends "base.html" %}
{% block title %}Adicionar exploracao{% endblock %}

{% block extrastyle %}
<script src="/media/js/farm.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{%block body%}

<div class="container-fluid">
<form action='{{request.path}}' method="Post" name = "form">{% csrf_token %}

	<div class="row-fluid">
		<div class = "span12" style = "text-align: center;">
			{{breeder.name}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span3">
			{{farm_form.name.errors}}
			{{farm_form.name.label}}
			{{farm_form.name}}
		</div>
		<div class = "span3 offset1">
			{{farm_form.trademark.errors}}
			{{farm_form.trademark.label}}
			{{farm_form.trademark}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span4">
			{{farm_form.register_date.errors}}
			{{farm_form.register_date.label}}
			{{farm_form.register_date}}
		</div>
		<div class = "span3">
			{{farm_form.register_number.errors}}
			{{farm_form.register_number.label}}
			{{farm_form.register_number}}
		</div>
		<div class = "span3 offset2">
			{% if not farm_form.close_date.value %}
				<a class = "btn" href="javascript:void(0);" onclick = "close_farm(this)">Close farm</a>
			{% endif %}
		</div>
		<div class = "span2 offset2">
			<div id = "close_farm" style = "display: none;">
				{{farm_form.close_date.errors}}
				{{farm_form.close_date.label}}
				{{farm_form.close_date}}
			</div>
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span4">
			{{farm_form.health_status.errors}}
			{{farm_form.health_status.label}}
			{{farm_form.health_status}}
		</div>
		<div class = "span4">
			{{farm_form.system.errors}}
			{{farm_form.system.label}}
			{{farm_form.system}}
		</div>
		<div class = "span4">
			{{farm_form.obs.errors}}
			{{farm_form.obs.label}}
			{{farm_form.obs}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span4">
			{{address_form.address.errors}}
			{{address_form.address.label}}
			{{address_form.address}}
		</div>
		<div class = "span4">
			{{address_form.zip_code.errors}}
			{{address_form.zip_code.label}}
			{{address_form.zip_code}}
		</div>
		<div class = "span4">
			{{address_form.district.errors}}
			{{address_form.district.label}}
			{{address_form.district}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span4">
			{{address_form.concelho.errors}}
			{{address_form.concelho.label}}
			{{address_form.concelho}}
		</div>
		<div class = "span4">
			{{address_form.freguesia.errors}}
			{{address_form.freguesia.label}}
			{{address_form.freguesia}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
{% if farm_form.close_date.value %}
<input type="submit" name='submit' value="Adicionar" id ="submit" disabled="disabled" />
Não é possivel alterar a exploração que foi encerrada a: {{farm_form.close_date.value}}
{% else %}
<input type="submit" name='submit' value="Adicionar" id ="submit"/>
{% endif %}

</form>
</div>

{%endblock%}