{% extends "base.html" %}
{% block title %}Exploração: {{farm.name}}{% endblock %}
{% block extrajs %}
	<script src="/media/js/animal_details.js"></script>
	<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/media/js/charts/farm.js"></script>
{% endblock %}
{% block body %}
{% load i18n %}
<script>
	var farms = {{farm.id}};
	window.onload = get_charts;
</script>
<div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span12" style = "text-align: center;">
			<a href = "{% url edit_farm %}" rel="tooltip" title="{% trans 'Click to edit farm'%}">
				<h4>{{farm.name}} - {{farm.trademark}}</h4>
			</a> 
		</div>
	</div>
	<div class ="row-fluid">
		<div class = "span8 offset2">
			<hr style = "border-width: 1px; border-color: #900;">
		</div>
	</div>
	<div class = "row-fluid">
								<div class = "span12" id = "chart_{{resume.farm.id}}" >
								</div>
							</div>	
</div>
{% endblock %}
