{% extends "base.html" %}
{% block title %}Exploração: {{farm.name}}{% endblock %}

{% block extrastyle %}
<script src="/media/js/farm.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}

<div class="container">
	<div class="row-fluid">
		<div class = "span12" style = "text-align: center;">
			{{farm.breeder.name}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span3">
			Nome da Exploração: 
			{{farm.name}}
		</div>
		<div class = "span3 offset1">
			Marca de exploração: 
			{{farm.trademark}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span4">
			Data de registo:
			{{farm.register_date}}
		</div>
		<div class = "span3">
			Número de registo:
			{{farm.register_number}}
		</div>
		<div class = "span3 offset2">
			
		</div>
		<div class = "span2 offset2">
			<div id = "close_farm" style = "display: none;">
				Data de fecho: 
				{{farm.close_date}}
			</div>
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span4">
			Estatuto sanitário:
			<ul>
			{% for status in farm.helth_status%}
				<li> {{status}}
			{% endfor %}
			</ul>
		</div>
		<div class = "span4">
			Sistema de produção: 
			{{farm.system}}
		</div>
		<div class = "span4">
			Observações: 
			{{farm.obs}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">
	
	<div class = "row-fluid">
		<div class = "span4">
			Endereço: 
			{{farm.contact.address}}
		</div>
		<div class = "span4">
			Código Postal: 
			{{farm.contact.zip_code}}
		</div>
		<div class = "span4">
			Districto: 
			{{farm.contact.district}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span4">
			Concelho: 
			{{farm.contact.concelho}}
		</div>
		<div class = "span4">
			Freguesia: 
			{{farm.contact.freguesia}}
		</div>
	</div>
	<hr style = "border-width: 1px; border-color: #900;">

</div>

{% endblock %}


{% if farm %}
<h2>{{ farm.breeder }} > {{ farm.name }}</h2>

<ul>
<li>Marca: {{ farm.trademark }}</li>
<li>Tipo de Produção: {{ farm.production }}</li>
<li>Número de registo: {{ farm.register_number }}</li>
<li>Data de registo: {{ farm.register_date }}</li>
<li>Sistema: {{ farm.system }}</li>
<li>Activo: {{ farm.active }}</li>
{% if farm.close_date %}<li>Data de encerramento: {{ farm.close_date }}</li>{% endif %}
<li>Contactos: {{ farm.contact }}</li>
<li>Responsável: {{ farm.manager }}</li>
<li>Estatutos Sanitários: {{ farm.health_status }}</li>
<li>Grupos: {{ farm.herds }}</li>
<li>Mapa: {{ farm.map_address }}</li>
<li>Geolocalização: {{ farm.geolocation }}</li>
<li>Observações: {{ farm.obs }}</li>
</ul>
{% else %}
    <p>Esta exploração não existe.</p>
{% endif %}

<a href="/animal">Animais</a><br/>
<a href="/exploracao/csv/{{ farm.pk }}">Importar CSV</a><br/>

<br/>
<a href="/milking/storage/{{ farm.slug }}">Ordenha > Armazenamento</a> | <a href="/milking/storage/{{ farm.slug }}/add">(adicionar)</a><br/>
<a href="/milking/times/{{ farm.slug }}">Ordenha > Periodos</a><br/>
<a href="/milking/lactation/{{ farm.slug }}/1">Ordenha > Lactacoes</a><br/>
<a href="/milking/contrast/{{ farm.slug }}/1">Ordenha > Contrastes</a><br/>
<a href="/milking/milking/{{ farm.slug }}">Ordenha > Ordenhas</a> | <a href="/milking/milking/{{ farm.slug }}/add">(adicionar)</a><br/><br/>
<a href="/preferences_ordenha/">Preferencias (ordenha)</a><br/>

<br/>
<a href="/performance/weighing/{{ farm.slug }}/add">Performance > Pesos > adicionar</a><br/>
<a href="/performance/animal_status/{{ farm.slug }}/add">Performance > Estado animal > adicionar</a><br/>
<a href="/performance/maternal/{{ farm.slug }}/1">Performance > Materno</a><br/>
<a href="/performance/reproductive/{{ farm.slug }}/1">Performance > Reprodutivo</a><br/>

<br/>
<a href="/movimentations/">Movimentacoes > RED</a><br/>

<br/><a href="../">Voltar</a>
