{% if my_farms %}
    <ul>
    {% for farm in my_farms %}
        <li><a href="{% url view_farm_details farm.pk %}">{{ farm }}</a></li>
    {% endfor %}
    </ul>	
{% else %}
    <p>Sem explorações disponíveis.</p>
{% endif %}

<a href="add">Adicionar exploração</a>