<div id = "specie_details">
	<div class = "row-fluid" style = "border: 1px solid #900">
		<div class = span12>
			{{details.total}}
		</div>
	</div>
	
	<div class = "row-fluid">
		<p></p>
	</div>
	
	<div class = "row-fluid">
		{% if counter == 1%}
			<div class = "span2">
				M
			</div>
			<div class = "span9 offset1" style = "border: 1px solid #900">
				{{details.males}}
			</div>
		{% else%}
			<div class = "span12" style = "border: 1px solid #900">
				{{details.males}}
			</div>
		{% endif %}
	</div>
	
	<div class = "row-fluid">
		<p></p>
	</div>
	
	<div class = "row-fluid">
		{% if counter == 1%}
			<div class = "span2">
				F
			</div>
			<div class = "span9 offset1" style = "border: 1px solid #900">
				{{details.females}}
			</div>
		{% else%}
			<div class = "span12" style = "border: 1px solid #900">
				{{details.females}}
			</div>
		{% endif %}
	</div>

	<div class = "row-fluid">
		<p></p>
	</div>
	
	<div id = breed_details_link >	
		<div class = "row-fluid">
			<div class = "span12" href="javascript:void(0);" onclick="get_breed(this, '{{details.specie}}','{{resume.farm.id}}')" style = "border: 1px solid #900">	
				Raças
			</div>
		</div>
	</div>
	<div id = "breed-{{details.specie}}-{{resume.farm.id}}" style = "display: none;">
	</div>

</div>