{% block extrajs %}
	<script src="/media/js/animal_details.js"></script>
	<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="/media/js/charts/farm.js"></script>
	
{% endblock %}
<div class="container-fluid" >
	<script>
	var farms = {{farms_id}};
	window.onload = get_charts;
	</script>
	
	{%for resume in user_farms %}
		{% if forloop.counter <= 1 %}
			<div id = "resume_header">
				<div class = "row-fluid">
					<div class = "span3">
						Exploração
						<div class = "span1">
						</div>
					</div>
					{% for animals in resume.animals %}
						<div class = "span2">
							{{animals.specie}}
						</div>
					{% endfor %}	
				</div>
			</div>
		{% endif %}
		<div id = "resume_details">
			<div class = "row-fluid">
				<p></p>
			</div>
			<div class = "row-fluid">
				<div id = "farm">
					<a href="exploracao/farm/{{resume.farm.id}}">
						<div class = "span3">
							<div class = "row-fluid">
								<div class = "span12">
									{{resume.farm.name}}
								</div>
							</div>
							<div class = "row-fluid">
								<div class = "span12" id = "chart_{{resume.farm.id}}" >
								</div>
							</div>						
						</div>
					</a>				
				</div>
				{% for animals in resume.animals%}
					{% if animals%}
						<div class = "span2">
							{% include "exploracao/resume_details.html" with details=animals counter=1%}
						</div>
					{%else%}
						<div class = "span2">
							<p></p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<hr style = "border-width: 1px; border-color: #900;">
		</div>
	{%endfor%}
</div>