{%for detail in details%}
	<div id = "specie_details">
	
		<div class = "row-fluid">
			<p></p>
		</div>
	
		<div class = "row-fluid">
			<div class = "span12" style = "border: 1px solid #900">	
				{{detail.breed}}
			</div>
		</div>
	
		<div class = "row-fluid">
			<p></p>
		</div>
		
		<div class = "row-fluid" style = "border: 1px solid #900">
			<div class = span12>
				{{detail.total}}
			</div>
		</div>
		
		<div class = "row-fluid">
			<p></p>
		</div>
		
		<div class = "row-fluid">
				<div class = "span2">
					M
				</div>
				<div class = "span9 offset1" style = "border: 1px solid #900">
					{{detail.males}}
				</div>
		</div>
		
		<div class = "row-fluid">
			<p></p>
		</div>
		
		<div class = "row-fluid">
			<div class = "span2">
				F
			</div>
			<div class = "span9 offset1" style = "border: 1px solid #900">
				{{detail.females}}
			</div>
		</div>
	</div>
{% endfor %}