Preferencias - Ordenha
<form action='{{request.path}}' method="Post" >{% csrf_token %}
<fieldset>
{{parForm}}
</fieldset>
<fieldset>
{{dryForm}}
</fieldset>
<input type="submit" name='submit' value="Adicionar" />
</form>
