{% load i18n admin_static %}
{% load url from future %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css" />
		<script src="/media/bootstrap/js/bootstrap.min.js"></script>
		<title>Portal do Animal - Login</title>
		{%comment%}
		<link rel="shortcut icon" href="/media/pics/favicon.ico">
		{%endcomment%}
		<script src="/media/js/jquery-1.8.1.min.js"></script>
		
	</head>

<body>	
<div class="row-fluid">
	<div class="span12">
	</div>
<div class="row-fluid">
	<div class="span4 offset4">
		<img src = "/media/img/portal_animal_logo.png">
	</div>
</div>
{% if form.errors and form.non_field_errors and not form.this_is_the_login_form.errors %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<div class="alert">
			  	<strong>Atenção:</strong>{{form.non_field_errors}}
			</div>
		</div>
	</div>
{% endif %}

{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
	<div class="row-fluid">
		<div class="span6 offset3">
			<div class="alert">
			  	<strong>Atenção:</strong>
			  	{%if form.username.errors%}
			  		{{form.username.label}}{{form.username.errors}}
			  	{%endif%}
			  	{%if form.password.errors%}
			  		{{form.password.label}}{{form.password.errors}}
			  	{%endif%} 
			</div>
		</div>
	</div>
{% endif %}

<div class="row-fluid">
	<div class="span5 offset3">
	<form  class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">{{form.username.label_tag}}</label>
	    <div class="controls">
	     	{{ form.username }}
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">{{ form.password.label_tag }}</label>
	    <div class="controls">
	      {{ form.password }}
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	    <div class="span1">
	      <button type="submit" value="login" class="btn">{% trans 'Log in' %}</button>
	      <input type="hidden" name="next" value="{{ next }}" />
	      </div>
	      <div class="span6 offset3">
	      	<p style="font-size:10px;">Esqueceu-se da palavra-passe? 
	      	<a href="#">Clique aqui.</a>
	      	</p>
	      </div>
	    </div>
	  </div>
	</form>
	</div>
</div>
</div>
</body>
</html>