{% load i18n %}

<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/newUser.css" />          
    </head>
<body>  


{% block main_content %}
<a>{% trans "This is a test" noop%}</a>

    <form action="/newUser/" method="Post" >
    {% csrf_token %}
<div id = "user_data"> 
    <table>

    <tr>
        <!--Titulo-->
            <td>
            {{ newUserForm.title.label_tag }}
            </td>
            <td>
            {{ newUserForm.title }}
            </td>
        </tr>
        <!--Nome próprio-->
        <tr>
            <td>
            {{ newUserForm.first_name.label_tag }}
            </td>
            <td>
	        {{ newUserForm.first_name }}
	        </td>
	    </tr>
	    <!--Apelido-->
	    <tr>
            <td>
            {{ newUserForm.last_name.label_tag }}
            </td>
            <td>
            {{ newUserForm.last_name }}
            </td>
        </tr>
        <tr>
        <!--Email-->
            <td>
            {{ newUserForm.email.label_tag }}
            </td>
            <td>
            {{ newUserForm.email }}
            </td>
        </tr>
        <tr>
        <!--Telemóvel-->
            <td>
            {{ newUserForm.phone_mobile.label_tag }}
            </td>
            <td>
            {{ newUserForm.phone_mobile }}
            </td>
        </tr>
        <tr>
        <!--Tel Empresa-->
            <td>
            {{ newUserForm.phone_office.label_tag }}
            </td>
            <td>
            {{ newUserForm.phone_office }}
            </td>
        </tr>
        <tr>
        <!--Tel casa-->
            <td>
            {{ newUserForm.phone_home.label_tag }}
            </td>
            <td>
            {{ newUserForm.phone_home }}
            </td>
        </tr>
	 </table>
</div> 
<table>
<tr>
</tr>
</table>
<div id = "user_login_data">
	 <table>
	 <tr>
        <!--Username-->
            <td>
            {{ newUserForm.username.label_tag }}
            </td>
            <td>
            {{ newUserForm.username }}
            </td>
     </tr>
     <tr>
	 <!--Password-->
            <td>
            {{ newUserForm.password.label_tag }}
            </td>
            <td>
            {{ newUserForm.password }}
            </td>
     </tr>
	 <tr>
            <td>
            <input type="submit" value="Adicionar" />
           </td>
     </tr> 

	 </table>
</div>
     </form>   
{% endblock %}       
    


</body>



</html>