<!DOCTYPE html>
    <head>
        <!--  <link rel="stylesheet" type="text/css" href="/media/css/newUser.css" />
        -->          
    </head>
<body>  


{% block main_content %}

    <form action="/newUser/" method="Post" >
    {% csrf_token %}
<div id = "user_data"> 
    <table>
	<!-- {{newUserForm}} -->
    <tr>
        <!--Titulo-->
            <td>
            {{ newUserForm.titulo.label_tag }}
            </td>
            <td>
            {{ newUserForm.titulo }}
            </td>
        </tr>
        <!--Nome completo-->
        <tr>
            <td>
            {{ newUserForm.nome_completo.label_tag }}
            </td>
            <td>
	        {{ newUserForm.nome_completo }}
	        </td>
	    </tr>
	    <!-- Cargo -->
	    <tr>
            <td>
            {{ newUserForm.cargo.label_tag }}
            </td>
            <td>
	        {{ newUserForm.cargo }}
	        </td>
	    </tr>
	    <!-- Identificação -->
	    <tr>
            <td>
            {{ newUserForm.identificacao.label_tag }}
            </td>
            <td>
	        {{ newUserForm.identificacao }}
	        </td>
	    </tr>
	   	<!-- Nif -->
	    <tr>
            <td>
            {{ newUserForm.nif.label_tag }}
            </td>
            <td>
	        {{ newUserForm.nif }}
	        </td>
	    </tr>	   	
	    <!-- Empresa -->
	    <tr>
            <td>
            {{ newUserForm.empresa.label_tag }}
            </td>
            <td>
	        {{ newUserForm.empresa }}
	        </td>
	    </tr>
        <!--Email-->
            <td>
            {{ newUserForm.email.label_tag }}
            </td>
            <td>
            {{ newUserForm.email }}
            </td>
        </tr>
        <tr>
        <!--Telemóvel-->
            <td>
            {{ newUserForm.phone_mobile.label_tag }}
            </td>
            <td>
            {{ newUserForm.phone_mobile }}
            </td>
        </tr>
        <tr>
        <!--Tel Empresa-->
            <td>
            {{ newUserForm.phone_office.label_tag }}
            </td>
            <td>
            {{ newUserForm.phone_office }}
            </td>
        </tr>
        <tr>
        <!--Tel casa-->
            <td>
            {{ newUserForm.phone_home.label_tag }}
            </td>
            <td>
            {{ newUserForm.phone_home }}
            </td>
        </tr>
	 </table>
</div> 
<table>
<tr>
</tr>
</table>
<div id = "user_login_data">
	 <table>
	 <tr>
        <!--Username-->
            <td>
            {{ newUserForm.username.label_tag }}
            </td>
            <td>
            {{ newUserForm.username }}
            <br>
			{{newUserForm.username.error_message}}
			{{messages}}
			</br>
            </td>
     </tr>
     <tr>
	 <!--Password-->
            <td>
            {{ newUserForm.password.label_tag }}
            </td>
            <td>
            {{ newUserForm.password }}
            </td>
            
     </tr>
	 <tr>
            <td>
            <input type="submit" value="Adicionar" />
           </td>
     </tr> 

	 </table>
</div>
     </form>   
{% endblock %}       
    


</body>



</html>