{% extends "base.html" %}
{% block title %}Ordenhas{% endblock%}
{% block extrastyle %} 
	<link rel="stylesheet" href="/media/chosen/chosen.css">
{% endblock %}
{% block extrajs %} 
	<script src="/media/chosen/chosen.jquery.js"></script>
	<script>
	$('document').ready(
			function(){
				$(".chzn-select").chosen({search_contains:true});			
			}
			);
	
	</script>	
{% endblock %}
{%block body%}
<form action='{{request.path}}' method="Post" >{% csrf_token %}

<div class="container-fluid" >
	{% if form.non_field_errors %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span4 offset4">
				{{ form.non_field_errors|striptags }}
			</div>
		</div>
	{% endif %}

	{% if is_add %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span1 offset4">
				{{form.animal.label}}:			
			</div>
			<div class = "span2">
				{{form.animal}}{{form.animal.errors}}			
			</div>
		</div>
		<div class = "row-fluid">
			<div class ="span4 offset4">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
			</div>
		</div>
	{% endif %}
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span4 offset4">
			<div class = "row-fluid">
				<div class = "span4">
					{{form.milking_date.label}}:
				</div>
				<div class = "span8">
					<div class="input-append">
						{{form.milking_date}}
					</div>
					{{form.milking_date.errors}}	
				</div>
			</div>
			<div class = "row-fluid">
				<div class = "span4">
					{{form.milking_hour.label}}:
				</div>
				<div class = "span8">
					{{form.milking_hour}}{{form.milking_hour.errors}}	
				</div>
			</div>	
		</div>
		
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.quantity.label}}:			
		</div>
		<div class = "span2">
			{{form.quantity}}{{form.quantity.errors}}			
		</div>
	</div>
	
	
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.employee.label}}:			
		</div>
		<div class = "span2">
			{{form.employee}}{{form.employee.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.milking_time.label}}:			
		</div>
		<div class = "span2">
			{{form.milking_time}}{{form.milking_time.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.tank.label}}:			
		</div>
		<div class = "span2">
			{{form.tank}}{{form.tank.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.obs.label}}:			
		</div>
		<div class = "span2">
			{{form.obs}}{{form.obs.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span6 offset3">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">
		</div>
	</div>	
	<div class = "row-fluid">
		<div class ="span6 offset3" style = "text-align: center;">
			<input type="submit" name='submit' value="Adicionar" />
		</div>
	</div>
</div>
</form>


{% endblock %}