{% extends "base.html" %}
{% block title %}Periodos de ordenha{% endblock %}
{% block body %}



<div class="container-fluid">
	<div class="row-fluid">
		<div class = "span2">
			<p>Identificação</p>			
		</div>
		<div class = "span2 offset1">
			<p>Hora de inicio</p>
		</div>
		<div class = "span2 offset1">
			<p>Hora do fim</p>
		</div>
		<div class = "span3 offset1">
			<p>Obeservações</p>
		</div>	
	</div>
	<div class = "row-fluid">
		<div class = "span12">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>


	{% for milking_time in milking_times.all %}
	<div class="row-fluid">
		<div class = "span2">
			<a href = "{{milking_time.get_absolute_url}}">{{milking_time.name}}</a>
		</div>
		<div class = "span2 offset1">
			{{milking_time.start_time}}	
		</div>
		<div class = "span2 offset1">
			{{milking_time.end_time}}
		</div>
		<div class = "span3 offset1">
			{{milking_time.obs}}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}