{% extends "base.html" %}
{% block title %}Armazenamento{% endblock %}
{%block body%}


<form action='{{request.path}}' method="Post" >{% csrf_token %}

<div class="container-fluid" >
	{% if form.errors %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span4 offset4">
				{{ form.non_field_errors|striptags }}
			</div>
		</div>
	{% endif %}

	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.local.label}}:			
		</div>
		<div class = "span2">
			{{form.local}}{{form.local.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.name.label}}:			
		</div>
		<div class = "span2">
			{{form.name}}{{form.name.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.max_load.label}}:			
		</div>
		<div class = "span2">
			{{form.max_load}}{{form.max_load.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.obs.label}}:			
		</div>
		<div class = "span2">
			{{form.obs}}{{form.obs.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span6 offset3">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span6 offset3" style = "text-align: center;">
			<input type="submit" name='submit' value="Adicionar" />
		</div>
	</div>
</div>

{% for hidden_field in form.hidden_fields %}
	{{hidden_field}}
{% endfor %}

{% endblock %}

