{% extends "base.html" %}
{% block title %}Armazenamento{% endblock %}
{%block body%}

<div class="container-fluid">
	<div class="row-fluid">
		<div class = "span2">
			<p>Identificação</p>			
		</div>
		<div class = "span2 offset1">
			<p>Localização</p>
		</div>
		<div class = "span2 offset1">
			<p>Capacidade</p>
		</div>
		<div class = "span3 offset1">
			<p>Obeservações</p>
		</div>	
	</div>
	<div class = "row-fluid">
		<div class = "span12">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
{%for storage in storages.all%}
	<div class="row-fluid">
		<div class = "span2">
			<a href = "{{storage.get_absolute_url}}">{{storage.name}}</a>
		</div>
		<div class = "span2 offset1">
			{{storage.local}}	
		</div>
		<div class = "span2 offset1">
			{{storage.max_load}} litros
		</div>
		<div class = "span3 offset1">
			{{storage.obs}}
		</div>
		
	</div>
{%endfor%}
</div>

{%endblock%}