{% extends "base.html" %}
{% block title %}Ordenhas{% endblock%}
{%block body%}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/media/js/js/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<div class="container-fluid">
	<div class = "row-fluid">
		<div class = "span1">
			#
		</div>
		<div class = "span2">
			Animal
		</div>
		<div class = "span2">
			Data de ordenha
		</div>
		<div class = "span2">
			Periodo de ordenha
		</div>
		<div class = "span1">
			Quantidade
		</div>
		<div class = "span2">
			Tanque
		</div>
		<div class = "span2">
			Observações
		</div>
	</div>
	{%for milking in lasts_milking.all%}
	<div class = "row-fluid">
		<div class = "span12">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span1">
			<a href = "{{milking.get_absolute_url}}">{{forloop.counter}}</a>
		</div>
		<div class = "span2">
			{{milking.animal.sia.number}}
		</div>
		<div class = "span2">
			{{milking.milking_date|date:"d M, Y"}}
		</div>
		<div class = "span2">
			{{milking.milking_time.name}}
		</div>
		<div class = "span1">
			{{milking.quantity}}
		</div>
		<div class = "span2">
			{{milking.tank.name}}
		</div>
		<div class = "span2">
			{{milking.obs}}
		</div>
	</div>	
	{%endfor%}
</div>

{% endblock %}