{% extends "base.html" %}
{% block title %}Contrastes{% endblock %}
{% block extrastyle %} 
	<link rel="stylesheet" href="/media/chosen/chosen.css">
{% endblock %}
{% block extrajs %} 
	<script src="/media/chosen/chosen.jquery.js"></script>
	<script>
	$('document').ready(
			function(){
				$(".chzn-select").chosen({search_contains:true});			
			}
			);
	</script>	
{% endblock %}
{%block body%}
<form action='{{request.path}}' method="Post" >{% csrf_token %}

<div class="container-fluid" >

	{% include "utils/messages.html" %}

	<div class = "row-fluid">
		<div class="span12" style = "text-align: center">
			<a href= "#">{{contrast.animal}}</a>
		</div>
	</div>
	<div style = "padding-top: 10px"></div>
	{% if formset.non_field_errors %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span4 offset4">
				{{ formset.non_field_errors|striptags }}
			</div>
		</div>
	{% endif %}

	{% if is_add %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span1 offset4">
				{{formset.animal.label}}:			
			</div>
			<div class = "span2">
				{{formset.animal}}{{formset.animal.errors}}			
			</div>
		</div>
		<div class = "row-fluid">
			<div class ="span4 offset4">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
			</div>
		</div>
	{% endif %}
	
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">  
			{{formset.date.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{formset.date}}
			</div>
			{{formset.date.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{formset.tec.label}}:			
		</div>
		<div class = "span2">
			{{formset.tec}}{{formset.tec.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{formset.bottle.label}}:			
		</div>
		<div class = "span2">
			{{formset.bottle}}{{formset.bottle.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{formset.obs.label}}:			
		</div>
		<div class = "span2">
			{{formset.obs}}{{formset.obs.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>

	<!-- Collection -->

	<div id = "inline-title">
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<p id = "title">Recolhas</p>
			</div>
		</div>
		<div class = "row-fluid" style = "height: 5px">
		</div>
	</div>
	<div id = "inline-subtitle">
		<div class = "row-fluid">
			<div class = "span3 offset2">
				<p id = "sub-title">Periodo de ordenha</p>
			</div>
			<div class = "span2">
				<p id = "sub-title">Quantidade</p>
			</div>
			<div class = "span2">
				<p id = "sub-title">Tipo de medida</p>
			</div>
			<div class = "span1">
				<p id = "sub-title">Remover?</p>
			</div>
		</div>
	</div>
	{{ collection_formset.management_form }}
	{{ collection_formset.non_field_errors|striptags }}
	{% for milking in collection_formset %}
	{{ milking.non_field_errors|striptags }}
		{{milking.id}}
		<div class = "row-fluid">
			<div class = "span3 offset2">
				{{milking.milking_time}} {{milking.milking_time.errors}}
			</div>
			<div class = "span2">
				{{milking.quantity}} {{milking.quantity.errors}}
			</div>
			<div class = "span2">
				{{milking.measure_type}} {{milking.measure_type.errors}}
			</div>
			<div class = "span1">
				<div class = "span1 offset5">
					{{milking.DELETE}}
				</div>
			</div>
		</div>
		{% endfor %}
	
	<!-- Analysis -->
	
	<div id = "inline-title">
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<p id = "title">Análises</p>
			</div>
		</div>
		<div class = "row-fluid" style = "height: 5px">
		</div>
	</div>
	<div id = "inline-subtitle">
		<div class = "row-fluid">
			<div class = "span5 offset2">
				<p id = "sub-title">Parametro</p>
			</div>
			<div class = "span2">
				<p id = "sub-title">Valor</p>
			</div>
			<div class = "span1">
				<p id = "sub-title">Remover?</p>
			</div>
		</div>
	</div>
	{{analysis_formset.management_form}}
		{{ analysis_formset.non_field_errors|striptags }}
	{% for parameter in analysis_formset %}
		{{ parameter.non_field_errors|striptags }}
		{{parameter.id}}
		<div class = "row-fluid">
			<div class = "span5 offset2">
				{{parameter.parameter}} {{parameter.parameter.errors}}
			</div>
			<div class = "span2">
				{{parameter.value}}	{{parameter.value.errors}}
			</div>
			<div class = "span1">
				<div class = "span1 offset5">
					{{parameter.DELETE}}
				</div>
			</div>
		</div>
	{% endfor %}	

	<div class = "row-fluid">
		<div class ="span6 offset3">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">
		</div>
	</div>	
	<div class = "row-fluid">
		<div class ="span6 offset3" style = "text-align: center;">
			<input type="submit" name='submit' value="Adicionar" />
			<input type="submit" name="submit_add_other" value="Gravar e adicionar outro">
		</div>
	</div>
</div>

{% for hidden_field in formset.hidden_fields %}
	{{hidden_field}}
{% endfor %}

{% for hidden_field in collection_formset.hidden_fields %}
	{{hidden_field}}
{% endfor %}

{% for hidden_field in analysis_formset.hidden_fields %}
	{{hidden_field}}
{% endfor %}
</form>
{%endblock%}