{% extends "base.html" %}
{% block title %}Contrastes{% endblock %}
{%block body%}

<div class="container-fluid">
	<div class = "row-fluid">
		<div class = "span12" style = "text-align: center">
			<a href = "#">{{animal}}</a>
		</div>
	</div>
	<div class="row-fluid">
		<div class = "span2">
			<p>Data</p>			
		</div>
		<div class = "span2">
			<p>Técnico</p>
		</div>
		<div class = "span4">
			<div class = "row-fluid">
				<div class = "span12" style= "text-align: center;">
					<p>Produção</p>
				</div>
			</div>
			<div class = "row-fluid">
				{% for time in milking_times%}
				<div class = "span4">
					{{time.name}}
				</div>
				{% endfor %}
			</div>
			<div class = "row-fluid">
				<div class = "span12">
					<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
				</div>
			</div>
		</div>
		<div class = "span2">
			<p>Produção total</p>
		</div>
		<div class = "span2">
			<p>Observações</p>
		</div>		
	</div>
	<div class = "row-fluid">
		<div class = "span12">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
{%for contrast in contrasts.all%}
	<div class="row-fluid">
		<div class = "span2">
			<a href = "{{contrast.get_absolute_url}}">{{contrast.date|date:"d M, Y"}}</a>
		</div>
		<div class = "span2">
			{{contrast.tec|default_if_none:"Sem dados"}}
		</div>
		
		<div class = "span4">
			{% for collect in contrast.get_milkYield_by_milking_time%}
				<div class = "span4">
					{{collect.quantity}} {{collect.measure_type}}
				</div>
			{% endfor %}
		</div>
		<div class = "span2">
			{{contrast.total_milk}}
		</div>
		<div class = "span2">
			{{contrast.obs}}
		</div>
	</div>
{%endfor%}
</div>
{%endblock%}