#header{
	background: #990000;
	height: 37px;
	width: 100%;
}

#nav-global{
	background: #000000;
	height: 25px;
	width: 100%;
}

#nav-global p{
	text-align:center;
}

#nav-global-sub{
	margin-left: 25px;
}


.container-fluid {
	margin: 30px auto;
	max-width: 960px;
}


/*Override bootstrap Togglable tabs*/
.nav {
	margin-bottom: 0px;
}

.nav-tabs {
	border-bottom: 0px;
	margin-left: 20px;
	}

.nav-tabs > li > a {
	padding-bottom: 0px;
	padding-top: 0px;
	line-height: 24px;
}
/*END*/

/* Slide Menu stuff */

.slide-out-div {
	padding: 10px;
    width: 200px;
	position: absolute;
	top: 0px;
	height: 900px;
	background-color: #95AA61; /* http://www.colourlovers.com/palette/154705/Panda_vs_Bamboo */
	/*-webkit-box-shadow: 3px 0px 5px -2px #32394A;
	box-shadow: 3px 0px 5px -3px #32394A;*/
	z-index: 2147483647;
	/*display: none;
	overflow: auto;*/
	-webkit-overflow-scrolling: touch;
	-webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-box-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}

.slide-out-div li a, :active {
	color: #121310;
}

.slide-out-div > .nav-pills > .active > a, .slide-out-div > div > .nav > li > a:hover {
  color: #121310;
  background-color: #D6E68A;
}

/*
.nav > li > a:hover {
  text-decoration: none;
  background-color: #D6E68A;
}
*/

.handle {
	background-color: #000;
}

.scroll-pane
{
	width: 100%;
	/*height: 100%;*/
	height: 300px;
	overflow: auto;
	/*border-top: solid 1px #D6E68A;*/
	border-bottom: solid 1px #D6E68A;
	-moz-box-shadow: inset 0 5px 5px rgba(137, 151, 82, 0.95);
    -webkit-box-shadow: inset 0 5px 5px rgba(137, 151, 82, 0.95);
    box-shadow: inset 0 5px 5px rgba(137, 151, 82, 0.95);​
}

/* End of Slide Menu Stuff */

/*FARM RESUME*/
#farm .span3 {
	 height: 149px;
	 border: 1px solid #900;
}

#resume_header .span2{
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	background: #900;

}
#resume_header .span3 {
	text-align: center;
	background: #900;
	color: #FFFFFF;
	font-weight: bold;
}

#resume_details{
	text-align: center;
}

#specie_details .span2{
	border: 1px solid #900;

}
#specie_details .span1{
	border: 1px solid #900;
}
/*END FARM RESUME*/


/*INLINES STUFF*/
#inline-title .span8{
	background: #900;
	color: #FFFFFF;
	font-weight: bold;
}

#inline-title #title{
	padding-left: 5px;
}

#inline-subtitle .span1{
	font-size: 12px;
	text-align: center;
	background: #999999;
	color: #FFFFFF;
	font-weight: bold;
}

#inline-subtitle .span2{
	text-align: center;
	background: #999999;
	color: #FFFFFF;
	font-weight: bold;
}

#inline-subtitle .span3{
	text-align: center;
	background: #999999;
	color: #FFFFFF;
	font-weight: bold;
}

#inline-subtitle .span4{
	text-align: center;
	background: #999999;
	color: #FFFFFF;
	font-weight: bold;
}

#inline-subtitle .span5{
	text-align: center;
	background: #999999;
	color: #FFFFFF;
	font-weight: bold;
}

#inline-subtitle #title{
	padding-left: 5px;
}


/*END INLINES STUFF*/


/* CONTRAST */



/*END CONTRAST*/
