{% if red_list %}
	<ul>
	{% for red in red_list|dictsortreversed:"year" %} <!-- ou dictsort https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#dictsort -->
	<li><a href="{{red.year}}">{{red.year}}</a></li>
	{% endfor %}
{% else %}
	Esta exploração ainda não tem Livro de Registo de Existências e Deslocações aberto.
{% endif %}
