{% extends "base.html" %}
{% block title %}Adicionar movimentacao{% endblock %}

{% block extrastyle %}
<!--<script src="/media/js/farm.js" type="text/javascript" charset="utf-8"></script>-->
{% endblock %}

{%block body%}

<h3>Registo de Existências e Deslocações</h3>

{% if red %}

    {% if events %}
        <table border="1">
	        <tr>
		        <th>Data do Movimento/ocorrência</th>
		        <th>Tipo de Movimento/ocorrência</th>
		        <th>Nº da Guia de Circulação/ou outro</th>
		        <th>Marca ou NRE e Nome da Exploração, mercado ou local de Origem<br/>
                    Marca ou NRE e Nome da Exploração, mercado, matadouro de Destino<br/>
                    Ocorrências observadas (Mortes; Desaparecimento; Identificação; etc.)
                </th>
	        </tr>
	        {% for event in events %}
	            {% for ev in event %}
		            <td>{{ev}}</td>
		        {% endfor %}
	        </tr>
	        {% endfor %}
        </table>
    {% else %}
    Não existem eventos registados neste RED.
    {% endif %}
{% else %}
RED inexistente.
{% endif %}


{%endblock%}
