{% load i18n %}{% blocktrans %}{{ notice }}{% endblocktrans %}

<table>
<thead>
</thead>
<tbody>
{{op_message}}

{%for notice in notices%}
	<tr>
	{%if notice.is_unseen%}
		<td>
			<font color = "#FFFFFF">{{ notice.message|safe }}</font>
		</td>
		<td>
			<font color = "#FFFFFF">{{ notice.added|timesince }} atrás.</font>
		</td>
	</tr>
	{% endif %}
{% endfor %}
</tbody>
</table>