{% extends "base.html" %}
{% block title %}Adicionar ocorrência{% endblock %}

{% block extrastyle %}
<!--<script src="/media/js/farm.js" type="text/javascript" charset="utf-8"></script>-->
{% endblock %}

{%block body%}

<div class="container">
<form action='{{request.path}}' method="Post" name = "form">{% csrf_token %}

	{{oc_form.errors}}
	{{oc_form.farm}}

	<div class = "row-fluid">
		<div class = "span8">
			{{oc_form.animals.errors}}
			{{oc_form.animals.label}}
			{{oc_form.animals}}
		</div>
		<div class = "span4">
			{{oc_form.oc_type.errors}}
			{{oc_form.oc_type.label}}
			{{oc_form.oc_type}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">

	<div class = "row-fluid">
    	<div class = "span4">
			{{oc_form.timestamp.errors}}
			{{oc_form.timestamp.label}}
			{{oc_form.timestamp}}
		</div>
		<div class = "span4">
			{{oc_form.guide.errors}}
			{{oc_form.guide.label}}
			{{oc_form.guide}}
		</div>
		<div class = "span4">
			{{oc_form.guide_date.errors}}
			{{oc_form.guide_date.label}}
			{{oc_form.guide_date}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">

	<div class = "row-fluid">
			<div class = "span4">
			{{oc_form.obs.errors}}
			{{oc_form.obs.label}}
			{{oc_form.obs}}
		</div>
	</div>

	<hr style = "border-width: 1px; border-color: #900;">

<input type="submit" name='submit' value="Adicionar" id ="submit"/>

</form>
</div>

{%endblock%}
