{% extends "base.html" %}
{% block title %}Detalhes ocorrência [{{occurrence.pk}}]{% endblock %}

{% block extrastyle %}
<!--<script src="/media/js/remove_occurrence.js" type="text/javascript" charset="utf-8"></script>-->
{% endblock %}

{%block body%}

<ul>
<li>Animal: {{occurrence.animal}}</li>
<li>Data: {{occurrence.event_date}}</li>
<li>Tipo: {{occurrence.event_type}}</li>
<li>Número/data de guia:{{occurrence.guide}}/{{occurrence.guide_date}}</li>
{% if occurrence.obs %}<li>Obs: {{occurrence.obs}}</li>{% endif %}
</ul>

{%endblock%}
