{% extends "base.html" %}
{% block title %}Ocorrências{% endblock %}

{% block extrastyle %}
<script src="/media/js/remove_occurrence.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{%block body%}

<h3>Ocorrências</h3>

<a class="btn" href="add">Adicionar</a>

<br/>

{% if occurrences %}
<table border="1">
	<tr>
		<th>Animal</th>
		<th>Data</th>
		<th>Tipo</th>
		<th>Nº/Data Guia Circulação</th>
		<th>Observações</th>
	</tr>
	{% for oc in occurrences.all %}
	<tr>
		<td>{% for animal in oc.animals.all %}
			{% if not forloop.last %}
				{{ animal }},
			{% else %}
				{{ animal }}
			{% endif %}
		{% endfor %}
		</td>
		<td>{{oc.timestamp}}</td>
		<td>{{oc.oc_type}}</td>
		<td>{{oc.guide}}/{{oc.guide_date}}</td>
		<td>{{oc.obs}}</td>
		<td><a href="{{oc.pk}}">detalhes</a></td>
		<td><button onclick="confirmOcRemove('{{oc}}','{{oc.pk}}')">apagar</td>
	</tr>
	{% endfor %}
</table>

{% else %}
	<p>Não existem ocorrências.</p>
{% endif %}

{%endblock%}
