{% extends "base.html" %}
{% block title %}Adicionar movimentacao{% endblock %}

{% block extrastyle %}
<!--<script src="/media/js/farm.js" type="text/javascript" charset="utf-8"></script>-->
{% endblock %}

{%block body%}

<div class="container">
<form action='{{request.path}}' method="Post" name = "form">{% csrf_token %}
	
	{{mov_form.errors}}
	{{mov_form.mov_type}}

	<div class = "row-fluid">
		<div class = "span4">
			{{mov_form.animals.errors}}
			{{mov_form.animals.label}}
			{{mov_form.animals}}
		</div>
		<div class = "span4">
			{{mov_form.farm.errors}}
			{{mov_form.farm.label}}
			{{mov_form.farm}}
		</div>
		<div class = "span4">
			{{mov_form.entity.errors}}
			{{mov_form.entity.label}}
			{{mov_form.entity}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">

	<div class = "row-fluid">
		<div class = "span4">
			{{mov_form.nr_guia_circ.errors}}
			{{mov_form.nr_guia_circ.label}}
			{{mov_form.nr_guia_circ}}
		</div>
		<div class = "span4">
			{{mov_form.timestamp.errors}}
			{{mov_form.timestamp.label}}
			{{mov_form.timestamp}}
		</div>
		<div class = "span4">
			{{mov_form.localization.errors}}
			{{mov_form.localization.label}}
			{{mov_form.localization}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span4">
			{{mov_form.obs.errors}}
			{{mov_form.obs.label}}
			{{mov_form.obs}}
		</div>
	</div>
	
	<hr style = "border-width: 1px; border-color: #900;">

<input type="submit" name='submit' value="Adicionar" id ="submit"/>

</form>
</div>

{%endblock%}
