{% extends "base.html" %}
{% block title %}Movimentos{% endblock %}

{% block extrastyle %}
<script src="/media/js/remove_movimentation.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{%block body%}

<ul>
<li>Data: {{movement.timestamp}}</li>
<li>Tipo: {{movement.mov_type}}</li>
<li>Exploração: {{movement.farm}}</li>
<li>Entidade: {{movement.entity}}</li>
<li>Animais: {% for animal in movement.animals.all %}
		{% if not forloop.last %}
			{{ animal }},
		{% else %}
			{{ animal }}
		{% endif %}
	{% endfor %}</li>
<li>Local: {{movement.localization}}</li>
<li>Número de guia de circulação {{movement.nr_guia_circ}}</li>
{% if move.obs %}<li>Obs: {{movement.obs}}</li>{% endif %}
</ul>

{%endblock%}
