{% extends "base.html" %}
{% block title %}Movimentos{% endblock %}

{% block extrastyle %}
<script src="/media/js/remove_movimentation.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{%block body%}

<h3>Movimentos</h3>

<div class="btn-group">
  <a class="btn dropdown-toggle blue" data-toggle="dropdown" href="#">Adicionar
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
	<li><a href="add/entrada_compra">Entrada/compra</a></li>
	<li><a href="add/identificacao">Identificacao</a></li>
	<li><a href="add/saida_producao">Saída para produção</a></li>
	<li><a href="add/saida_abate">Saída para abate</a></li>
	<li><a href="add/abate_consumo">Saída para consumo</a></li>
  </ul>
</div>

<br/>

{% if movimentations %}
<table border="1">
	<tr>
		<th>Data</th>
		<th>Tipo</th>
		<th>Nº Guia Circulação</th>
		<th>Marca Exploração - Local / Ocorrência</th>
		<th>Observações</th>
	</tr>
	{% for move in movimentations %}
	<tr>
		<td>{{move.timestamp}}</td>
		<td>{{move.mov_type}}</td>
		<td>{{move.nr_guia_circ}}</td>
		<td>{{move.entity}} - {{move.localization}}</td>
		<td>Animais:
		{% for animal in move.animals.all %}
			{% if not forloop.last %}
				{{ animal }},
			{% else %}
				{{ animal }}
			{% endif %}
		{% endfor %}

		{% if move.obs %}<br/>Obs: {{move.obs}}{% endif %}</td>
		<td><a href="{{move.pk}}">detalhes</a></td>
		<td><button onclick="confirmMovRemove('{{move}}','{{move.pk}}')">apagar</td>
	</tr>
	{% endfor %}
</table>

{% else %}
	<p>Não existem movimentações.</p>
{% endif %}

{%endblock%}
