{% extends "base.html" %}
{% block title %}Movimentos{% endblock %}

{% block extrastyle %}
<script src="/media/js/accept_movimentation_req.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/js/reject_movimentation_req.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{%block body%}

<h3>Movimentos pendentes</h3>

{% if pending_movs %}
<table border="1">
	<tr>
		<th>Data</th>
		<th>Tipo</th>
		<th>Nº Guia Circulação</th>
		<th>Marca Exploração - Local / Ocorrência</th>
		<th>Observações</th>
		<th>Detalhes do pedido</th>
	</tr>
	{% for move in pending_movs %}
	<tr>
		<td>{{move.timestamp}}</td>
		<td>{{move.mov_type}}</td>
		<td>{{move.nr_guia_circ}}</td>
		<td>{{move.entity}} - {{move.localization}}</td>
		<td>Animais: 
		{% for animal in move.animals.all %}
			{% if not forloop.last %}
				{{ animal }},
			{% else %}
				{{ animal }}
			{% endif %}
		{% endfor %}
		
		{% if move.obs %}<br/>Obs: {{move.obs}}{% endif %}</td>
        <td>Pedido por {{ move.requested.from }} {% if move.farm_requested_from %} ({{ move.farm_requested_from }}) {% endif %} em {{ move.request_timestamp }}</td>
		<td><button onclick="acceptMovReq('{{move}}','{{move.pk}}')">aceitar</td>
		<td><button onclick="rejectMovReq('{{move}}','{{move.pk}}')">rejeitar</td>
	</tr>
	{% endfor %}
</table>

{% else %}
	<p>Não existem pedidos pendentes.</p>
{% endif %}

{% if rejected_reqs %}
<h3>Pedidos rejeitados</h3>
<table border="1">
	<tr>
		<th>Data</th>
		<th>Tipo</th>
		<th>Nº Guia Circulação</th>
		<th>Marca Exploração - Local</th>
		<th>Observações</th>
		<th>Detalhes do pedido</th>
	</tr>
	{% for move in rejected_reqs %}
	<tr>
		<td>{{move.timestamp}}</td>
		<td>{{move.mov_type}}</td>
		<td>{{move.nr_guia_circ}}</td>
		<td>{{move.entity}} - {{move.localization}}</td>
		<td>Animais: 
		{% for animal in move.animals.all %}
			{% if not forloop.last %}
				{{ animal }},
			{% else %}
				{{ animal }}
			{% endif %}
		{% endfor %}
		
		{% if move.obs %}<br/>Obs: {{move.obs}}{% endif %}</td>
        <td>Pedido por {{ move.requested.from }} {% if move.farm_requested_from %} ({{ move.farm_requested_from }}) {% endif %} em {{ move.request_timestamp }}</td>
	</tr>
	{% endfor %}
</table>

{% endif %}

{% if accepted_reqs %}
<h3>Pedidos aceites</h3>
<table border="1">
	<tr>
		<th>Data</th>
		<th>Tipo</th>
		<th>Nº Guia Circulação</th>
		<th>Marca Exploração - Local / Ocorrência</th>
		<th>Observações</th>
		<th>Detalhes do pedido</th>
	</tr>
	{% for move in accepted_reqs %}
	<tr>
		<td>{{move.timestamp}}</td>
		<td>{{move.mov_type}}</td>
		<td>{{move.nr_guia_circ}}</td>
		<td>{{move.entity}} - {{move.localization}}</td>
		<td>Animais: 
		{% for animal in move.animals.all %}
			{% if not forloop.last %}
				{{ animal }},
			{% else %}
				{{ animal }}
			{% endif %}
		{% endfor %}
		
		{% if move.obs %}<br/>Obs: {{move.obs}}{% endif %}</td>
        <td>Pedido por {{ move.requested.from }} {% if move.farm_requested_from %} ({{ move.farm_requested_from }}) {% endif %} em {{ move.request_timestamp }}</td>
	</tr>
	{% endfor %}
</table>

{% endif %}

{%endblock%}
