{% extends "base.html" %}
{% block title %} Estado do animal{% endblock %}
{%block body%}

<form action='{{request.path}}' method="Post" >{% csrf_token %}
<div class="container-fluid" >
	{% if form.errors %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span4 offset4">
				{{ form.non_field_errors|striptags }}
			</div>
		</div>
	{% endif %}
	<div class = "row-fluid">
		<div class ="span4 offset4">
			{{form}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span6 offset3">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">
		</div>
	</div>	
	<div class = "row-fluid">
		<div class ="span6 offset3" style = "text-align: center;">
			<input type="submit" name='submit' value="Adicionar" />
		</div>
	</div>
</div>
</form>
{%endblock%}