{% extends "base.html" %}
{% block title %}Estados do animal{% endblock%}
{%block body%}

<div class="container-fluid">
	{% for status in animal_status %}
	<div class="row-fluid">
		<div class = "span4 offset4">
			<a href = "{{status.get_absolute_url}}">{{status}}</a>
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}