{% extends "base.html" %}
{% block title %}Pesagens{% endblock%}
{% block body %}
<div class="container-fluid">
	<div class = "row-fluid">
		<div class = "span1">
			#
		</div>
		<div class = "span2">
			Animal
		</div>
		<div class = "span1">
			Peso
		</div>
		<div class = "span2">
			Data
		</div>
		<div class = "span2">
			Estado do animal
		</div>
		<div class = "span2">
			Equipamento
		</div>
		<div class = "span2">
			Observações
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span12">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	{% for weighing in weighing_list%}
		<div class = "row-fluid">
			<div class = "span1">
				<a href = "{{weighing.get_absolute_url}}">{{forloop.counter}}</a>
			</div>
			<div class = "span2">
				{{ weighing.performance.animal.sia.number }}
			</div>
			<div class = "span1">
				{{ weighing.weight }}
			</div>
			<div class = "span2">
				{{ weighing.date }}
			</div>
			<div class = "span2">
				{{ weighing.animal_status }}
			</div>
			<div class = "span2">
				{{ weighing.equipment }}
			</div>
			<div class = "span2">
				{{ weighing.obs }}
			</div>
		</div>
		<div class = "row-fluid">
			<div class = "span12">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}