{% extends "base.html" %}
{% block title %}Pesagens{% endblock %}
{% block extrastyle %} 
	<link rel="stylesheet" href="/media/chosen/chosen.css">
{% endblock %}
{% block extrajs %} 
	<script src="/media/chosen/chosen.jquery.js"></script>
	<script>
	$('document').ready(
			function(){
				$(".chzn-select").chosen({search_contains:true});			
			}
			);
	
	</script>	
{% endblock %}
{%block body%}

<form action='{{request.path}}' method="Post" >{% csrf_token %}
<div class="container-fluid" >
	{% include "utils/messages.html" %}
	{% if form.non_field_errors %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span4 offset4">
				{{ form.non_field_errors|striptags }}
			</div>
		</div>
	{% endif %}
	
	{% if is_add %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span1 offset4">
				{{form.performance.label}}:			
			</div>
			<div class = "span2">
				{{form.performance}}			
			</div>
			{{form.performance.errors}}
		</div>
		<div class = "row-fluid">
			<div class ="span4 offset4">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
			</div>
		</div>
	{% else %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span12" style = "text-align: center">
				<a href='#'>{{weighing.performance.animal}}</a>
			</div>
		</div>	
	{% endif %}
	

	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">  
			{{form.date.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.date}}
			</div>
			{{form.date.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
		
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">  
			{{form.weight.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.weight}}
			</div>
			{{form.weight.errors}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">  
			{{form.equipment.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.equipment}}	
			</div>
			{{form.equipment.errors}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">  
			{{form.supervisor.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.supervisor}}	
			</div>
			 {{form.supervisor.errors}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">  
			{{form.animal_status.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.animal_status}}	
			</div>
			{{form.animal_status.errors}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.obs.label}}:			
		</div>
		<div class = "span2">
			{{form.obs}}{{form.obs.errors}}			
		</div>
	</div>
	
	<div class = "row-fluid">
		<div class ="span6 offset3">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">
		</div>
	</div>	
	<div class = "row-fluid">
		<div class ="span6 offset3" style = "text-align: center;">
			<input type="submit" name='submit' value="Adicionar" />
			{% if is_add %}
				<input type="submit" name="submit_add_other" value="Gravar e adicionar outro">
			{% endif %}
		</div>
	</div>
</div>

{% for hidden_field in form.hidden_fields %}
	{{hidden_field}}
{% endfor %}

</form>

{%endblock%}