CSV
<div id = breeder>
	{{farm.criador}}
</div>
<div id = farm>
	{{farm.nome}}
</div>

<div id = error_animal>
	{%for line in csv.animal%}
		<div>{{line}}</div>
	{%endfor%}
</div>

<div id = sucess>
	{{csv.sucess}}
</div>

{%if csv.error%}
	<div id = error>
		{{csv.error}}: {{csv.error_list}}
	</div>
{%endif%}

<div id = farmValidation>
	{{csv.validateFarm}}
</div>

<form action='{{request.path}}' enctype="multipart/form-data" method="Post" >{% csrf_token %}
<div id = form>
	{{form}}
</div>

{%if file%}
<div id = error_file>
{{file}}
<input type="submit" name='save_yes' value="Save" />
</div>
{%endif%}


<input type="submit" name='submit' value="Adicionar" />
</form>