Os seguintes animais não foram inseridos no ficheiro:
<div>
{% for animal, error_list in dict_error.items %}
	<div>
    	{{ animal }}: 
    	Erro(s):
    	{%for error in error_list%}
    		{{error}}
    	{%endfor%}
    </div>
{% endfor %}
</div>
Deseja criar o documento sem estes animais?
<form action='{{request.path}}' method="Post" name = "form">{% csrf_token %}
<input type="submit" name='generate' value="Sim" id ="generate"/>
</form>