{% extends "base.html" %}
{% block title %}Lactações{% endblock%}
{% block extrastyle %} 
	<link rel="stylesheet" href="/media/chosen/chosen.css">
{% endblock %}
{% block extrajs %} 
	<script src="/media/chosen/chosen.jquery.js"></script>
	<script>
	$('document').ready(
			function(){
				$(".chzn-select").chosen({search_contains:true});			
			}
			);
	
	</script>	
{% endblock %}
{%block body%}

<form action='{{request.path}}' method="Post" >{% csrf_token %}

<div class="container-fluid" >

	{% include "utils/messages.html" %}

	{% if form.errors %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span4 offset4">
				{{ form.non_field_errors|striptags }}
			</div>
		</div>
	{% endif %}

	{% if is_add %}
		<div class="row-fluid" style = "min-height: 60px;">
			<div class = "span1 offset4">
				{{form.animal.label}}:			
			</div>
			<div class = "span2">
				{{form.animal}}{{form.animal.errors}}			
			</div>
		</div>
		<div class = "row-fluid">
			<div class ="span4 offset4">
				<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
			</div>
		</div>
	{% endif %}
	
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4"> 
			{{form.start_date.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.start_date}}
			</div>
			{{form.start_date.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.auto_dry.label}}:			
		</div>
		<div class = "span2">
			{{form.auto_dry}}{{form.auto_dry.errors}}	
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.dry_date.label}}:			
		</div>
		<div class = "span3">
			<div class="input-append">
				{{form.dry_date}}
			</div>
			{{form.dry_date.errors}}
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class="row-fluid" style = "min-height: 60px;">
		<div class = "span1 offset4">
			{{form.obs.label}}:			
		</div>
		<div class = "span2">
			{{form.obs}}{{form.obs.errors}}			
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span6 offset3">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">
		</div>
	</div>	
	<div class = "row-fluid">
		<div class ="span6 offset3" style = "text-align: center;">
			<input type="submit" name='submit' value="Adicionar" />
			<input type="submit" name="submit_add_other" value="Gravar e adicionar outro">
		</div>
	</div>
</div>
</form>


{% endblock %}

<form action='{{request.path}}' method="Post" >{% csrf_token %}
{%if is_form%}
{{form.management_form}}
{%for form in form%}
	{{form.farm}}
	<fieldset>
		<div >{{form.as_p}}</div>
	</fieldset>
{%endfor%}
<input title = 'Adicionar nova lactação' type='submit' name='add_new' value = 'Add' />
<input type="submit" name='submit' value="Adicionar" />
{%endif%}


