{% extends "base.html" %}
{% block title %}Lactações{% endblock%}
{%block body%}

<meta name="http-equiv" content="Content-type: text/html; charset=UTF-8"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/media/js/js/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/highslide/highslide.css" />

<div class="container-fluid">
	<div class="row-fluid">
		<div class = "span12">
			<h5 style = "text-align: center">{{animal}}</h5>
		</div>
	</div>
	<div class = "row-fluid">
		<div class ="span4 offset4">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>	
	<div class = "row-fluid">
		<div class = "span4">
			Data de inicio
		</div>
		<div class = "span4">
			Data de secagem
		</div>
		<div class = "span4">
			Produção total
		</div>
	</div>
	{%for lactation in lactations.all%}
	<div class = "row-fluid">
		<div class = "span12">
			<hr style = "border-width: 1px; border-color: #900; margin: 0px">	
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span4">
			<a href = "{{lactation.get_absolute_url}}">{{lactation.start_date}}</a>
		</div>
		<div class = "span4">
			{{lactation.dry_date|default_if_none:'Não existe.'}}
		</div>
		<div class = "span4">
			{{lactation.production_total}}
		</div>
	</div>	
	{%endfor%}
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class = "span6">
			<div id="container" style="min-width: 100px; height: 400px; margin: 0 auto"></div>
		</div>
		<div class = "span6">
			<div id="container_2" style="min-width: 100px; height: 400px; margin: 0 auto"></div>
		</div>
	</div>
</div>


<script  type="text/javascript" charset="utf-8">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Lactação',
                x: -20 //center
            },
            subtitle: {
                text: 'Animal: {{animal}}',
                x: -20
            },
            xAxis: {
                categories: {{xAxis|safe}}
            },
            yAxis: {
                title: {
                    text: 'Produção (kg)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true,
                crosshairs: true,
                
                /*
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'kg';
                }*/
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                            	console.log(this.pageX)
                            	console.log(this.x)
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX,
                                       
                                        y: this.pageY
                                        
                                    },                               
                                    headingText: this.series.name,
                                    maincontentText: this.y +' kg',
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },
            series: {{series|safe}}
        });
    });
    
});

//Grafico de barras

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container_2',
                type: 'column'
            },
            title: {
                text: 'Produções Totais'
            },
            subtitle: {
                text: 'Animal: {{animal}}'
            },
            xAxis: {
                categories: [
                    '1ª',
                    '2ª',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Leite (kg)'
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y +' kg';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
                series: [{
               	type: 'column',
                name: 'Produção',
                data: {{production}}
    
            },{
            	type: 'line',
            	name: 'Produção média do animal',
            	data: {{production_avg}}
           	
            }
                ]
        });
    });
    
});
</script>
{% endblock %}​​