{%if op_message%}
{{op_message.0}}
<div>
Animal: <a href="../../../animal/{{animal.id}}">{{animal.sia.numero}}</a>
</div> 
A <a href="../../../lactation/add/{{lactation.id}}">lactação</a> {{op_message.1}} 
{%endif%}